.offer-container {
  color: black;
  display: flex;
  position: relative;
}

.offer__image {
  opacity: 0.75;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.offer__info {
  position: absolute;
  font-size: 2rem;
  background: rgba(245, 245, 220, 0.322);
}
