.footer {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
}

.footer__heading {
  padding: 0.5rem 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group input {
  width: 30rem;
  height: 3.5rem;
  outline: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  border: 0;
}
.form-group input::placeholder {
  font-size: 1.5rem;
}

.footer__map {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
li > a:hover {
  color: bisque;
}

.footer__links {
  margin: 3rem;
  line-height: 2.8rem;
}

.footer-logo {
  font-size: 3rem;
  font-weight: 800;
}
.footer-logo > img {
  width: 35px;
}

.footer__copyright {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem;
}

.footer__media-links {
  margin: 2rem;
}
.footer__media-links a {
  margin: 2rem;
}

@media screen and (min-width: 765px) {
  .form-group {
    flex-direction: row;
    justify-content: center;
  }

  .footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto auto;
  }
}
