.card-container {
  background-color: whitesmoke;
  text-align: center;

  align-items: center;
}

Link {
  text-decoration: none;
}

.card-container__heading {
  font-size: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card-grid {
  display: flex;
  flex-flow: column;
  align-items: center;

  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .card-grid {
    /* display: grid; */
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 3rem;
    width: 100%;
    margin: auto auto;
    padding: 0 2rem;
  }
  .big-cards {
    display: flex;
    flex: row;
  }
  .small-cards {
    display: flex;
    flex: row;
  }
}
