.card-container {
  background-color: whitesmoke;
  text-align: center;
}
.card-container__heading {
  font-size: 3rem;
  margin: 5rem 6rem;
  padding-top: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
