.sign-in {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.sign-in__form {
  display: flex;
  flex-direction: column;
}

.btn-submit {
  font-size: 2rem;
  background: none;
  margin-top: 2rem;
  padding: 0.5rem 0;
}
